@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins:ital,wght@0,200;0,400;0,600;0,700;1,400;1,500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #2f363e;
}

#time {
  display: flex;
  gap: 40px;
  color: #ffffff;
}

#time .circle {
  position: relative;
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#time .circle svg {
  position: relative;
  width: 150px;
  height: 150px;
  transform: rotate(270deg);
}

#time .circle svg circle {
  width: 100%;
  height: 100%;
  fill: transparent;
  stroke: #191919;
  stroke-width: 4;
  transform: translate(5px, 5px);
}

#time .circle svg circle:nth-child(2) {
  stroke: var(--clr);
  stroke-dasharray: 440;
}
#time div {
  position: absolute;
  text-align: center;
  font-weight: 500;
  font-size: 1.5em;
}

#time .ap {
  position: relative;
  font-size: 1em;
  transform: translateX(-20px);
}
